// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyAWfmGsWqAh6JsVJVnYGTW5jISHb5YYHDk",
  authDomain: "weeding-gift.firebaseapp.com",
  projectId: "weeding-gift",
  storageBucket: "weeding-gift.firebasestorage.app",
  messagingSenderId: "521178363191",
  appId: "1:521178363191:web:f92ba67327d93687b356b2"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);